<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>전주MBC쇼방</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no">
<link href="css/common.css" rel="stylesheet" type="text/css">
<link href="css/layout.css" rel="stylesheet" type="text/css">
</head>

<body>
<div id="wrap">
<!--헤더부분 st -->
<div id="header">
<!--상단로고및카테고리st -->
<div class="logoncate">
<div class="logo_t"><img src="img/logo.jpg" width="374" height="92"></div>
<div class="cate_icon"><img src="img/cate_icon.jpg" width="114" height="74"></div>
<div style="clear:both"></div>
</div>
<!--상단로고및카테고리ed -->

<!--검색 st -->
<div class="search_tle"><ul class="ser_box"><li class="mr_10">매물정보</li><li class="input_box"><input name="" type="text"></li><li class="btn_ser"><img src="img/search_btn.gif"></li><li class="btn_ser"><img src="img/v_serbtn.gif"></li>
</ul>
</div>
<!--검색ed -->
<div style=" clear:both; height:20px;"></div>

<!--상단메뉴st -->
<div class="top_mbox"><ul><li><a href="#">제휴업체</a></li><li><a href="#">매물원해요</a></li><li style="border-right:none;"><a href="#">정모1</a></li></ul></div>
<!--상단메뉴ed -->


</div>
<!--헤더부분ed -->


<!--비주얼 st -->
<div id="v_img"><img src="img/v_img.jpg" width="1200" height="800"></div>
<!--비주얼 ed -->

<!--버튼 st-->
<div class="btn_conbox">
<ul class="b_box01"><li><img src="img/btn_01.jpg" width="316" height="316"></li>
  <li><img src="img/btn_02.jpg" width="316" height="316"></li><li style="margin-right:0px;"><img src="img/btn_03.jpg" width="316" height="316"></li></ul>
  
  
<ul class="b_box02"><li><a href="apt_sub.html"><img src="img/btn_04.jpg" width="317" height="216"></a></li>
  <li><img src="img/btn_05.jpg" width="317" height="216"></li><li style="margin-right:0px;"><img src="img/btn_06.jpg" width="317" height="216"></li></ul>  
  
  
<ul class="b_box03"><li><img src="img/btn_07.jpg" width="317" height="216"></li>
  <li><img src="img/btn_08.jpg" width="317" height="216"></li><li style="margin-right:0px;"><img src="img/btn_09.jpg" width="317" height="216"></li></ul>    
  
  
<ul class="b_box04"><li><img src="img/btn_10.jpg" ></li>
  <li style="margin-right:0px;"><img src="img/btn_11.jpg"></li></ul>  
  
<ul class="b_box02">
  <li><img src="img/btn_12.jpg" width="317" height="125"></li>
  <li><img src="img/btn_13.jpg" width="317" height="125"></li><li style="margin-right:0px;"><img src="img/btn_14.jpg" width="317" height="125"></li></ul>  
  
  
<ul class="b_box03">
  <li><img src="img/btn_15.jpg" width="317" height="125"></li>
  <li><img src="img/btn_16.jpg" width="317" height="125"></li><li style="margin-right:0px;"><img src="img/btn_17.jpg" width="317" height="125"></li></ul>       

</div>
<!--버튼ed -->


<!--하단배너 영역 st -->
<div id="btm_bn"><img src="img/btm_bn.jpg" width="1200" height="394"></div>
<!--하단배너 영역ed -->


<!--푸터 st -->
<div id="footer">Make By Acube Company </div>
<!--푸터 ed -->




</div>




</body>
</html>
